.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#search {
    position: relative;
    top: 5px;
    left: 208px;
}

.table_ids {
    width: 80px;
}

.table_categorys {
    width: 140px;
}

.table_specifications,
.table_notes {
    width: 200px;
}

.table_users {
    width: 80px;
}

.table_registrations {
    width: 80px;
}

.table_times {
    width: 160px;
}

.table_addresses {
    width: 100px;
}

ul,
li {
    text-align: center;
}

.bodyc {
    margin: 8px;
}