#table {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    border-collapse: collapse;
    background-color: #FFF;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}